body{
	cursor:url(imges/Pointer.ico),auto;
	background: #050304;
	overflow-x: hidden;
    overflow-y: hidden;
	margin: 0;
	font-family: 阿里巴巴普惠体;
}
img{
	display: block;
	/*pointer-events: none;*/
}
#body-1{
	font-size: 16px;
}
#body-2{
	font-size: 32px;
}
#body-3{
	font-size: 48px;
}
#body-4{
	font-size: 64px;
}
#Farm{
	width: 80em;
	height: 65em;
	background:url(imges/spring.png);
	background-size:80em;
	float: left;
	/*margin-top: 16px;
	margin-left: 16px;*/
}
.Farm{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 80em;
	height: 65em;
}
.Farm-B{
	width: 1em;
	height: 1em;
}
.Farm-B img{
	pointer-events: none;
	position: relative;
	z-index: 10;
	width: 1em;
	height: 1em;
	
}
.Farm-M {
	width: 1em;
	height: 1em;
}
.Farm-M img{
	pointer-events: none;
	position: relative;
	z-index: 15;
	width: 1em;
	height: 1em;
	
	
}
#Farm-Middle{
	position: absolute;
	z-index: 3;
	pointer-events: none;
}
#Farm-bottom{
	position: absolute;
	z-index: 2;
	width: 80em;
	height: 65em;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.greenhouse-1{
	width: 7em !important;
	height: 10em !important;
	top: -9em;
}
.greenhouse-2{
	width: 7em !important;
	height: 8em !important;
	top: -7em;
}
.House{
	width: 9em !important;
	height: 10em !important;
	top: -8em;
}
.House-L{
	width: 10em !important;
	height: 10em !important;
	top: -8em;
	left: -1em;
}
.mailbox{
	width: 1em !important;
	height: 2em !important;
	top: -1em;
}
#Btn{
	position: absolute;
	z-index: 20;
	right: 10px;
	bottom: 0em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#Btn div{
	width: 64px;
	height: 128px;
}
#Frame{
	background: #050304;
	position: absolute;
	z-index: 1;
}
#Frame-1{
	width: 24px;
	height: 16px;
	background:url(imges/frame-1.png);
	float: left;
}
#Frame-2{
	width: 16px;
	height: 16px;
	background:url(imges/frame-2.png);
	float: left;
}
#Frame-3{
	width: 16px;
	height: 16px;
	background:url(imges/frame-3.png);
	float: left;
}
#Frame-4{
	width: 16px;
	height: 16px;
	background:url(imges/frame-4.png);
	float: left;
}
#Frame-5{
	width: 16px;
	height: 16px;
	background:url(imges/frame-5.png);
	float: left;
}
#Frame-6{
	width: 20px;
	height: 16px;
	background:url(imges/frame-6.png);
	float: left;
}
#Frame-7{
	width: 16px;
	height: 16px;
	background:url(imges/frame-7.png);
	float: left;
}
#Frame-8{
	width: 20px;
	height: 16px;
	background:url(imges/frame-8.png);
	float: left;
}
#menu{
	position: absolute;
	z-index: 30;
	width: 324px;
	height: 100vh;
	background:url(imges/menu-bj.png) repeat-y center 0px;
	left: 0px;
	/*display: none;*/
}
#menu-btn{
	position: absolute;
	left: 320px;
	top: 12px;
}
#menu-btn img{
	position: relative;
}
/*#btn1{
	position: relative;
	left: -8px;
}
#btn2{
	position: relative;
}
#btn3{
	position: relative;
}
#btn4{
	position: relative;
}
#btn5{
	position: relative;
}
#btn6{
	position: relative;
}*/
#arrow img{
	position: relative;
	width: 1em;
	height: 1em;
}
#menu-body{
	margin-top: 20px;
	width: 320px;
	height: 700px;
	/*background: #000;*/
	overflow-x: hidden;
    overflow-y: hidden;
}
.menu-body{
	position: relative;
	width: 256px;
/*	background: #fff;*/
	left: 10px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    background:url(imges/menu-body-bj.png) repeat-y center 0px;
}
.menu-body img{
	width: 64px;
	height: 64px;
	margin: 2px 2px 0 2px;
}
#menu-body-btn{
	position: absolute;
	background:url(imges/menu-bj1.png);
	width: 24px;
	height: 700px;
	right: 28px;
}
#body-btn{
	position: absolute;
	top: 0;
}
#body-btn-bottom{
	position: absolute;
	bottom: 0;
}
#menu-body-0{
	width: 320px;
}
#menu-body-1{
	height: 960px;
}
#menu-body-2{
	height: 1120px;
}
#menu-body-3{
	height: 2080px;
}
#menu-body-4{
	height: 480px;
}
#menu-body-5{
	height: 320px;
}
#menu-body-6{
	height: 480px;
}
#tool-div{
	width: 320px;
	height: 310px;
	background:url(imges/Axe.gif);
}
#name-text{
	background:url(imges/zoom-b.png) no-repeat center 0px;
	position: absolute;
	bottom: 186px;
	width: 324px;
	height: 86px;
	font-size: 36px;
	text-align:center;
	/*display: none;*/
}
#name-text div{
	position: absolute;
	width: 296px;
	height: 68px;
	font-family: 阿里巴巴普惠体;
	font-weight: 500;
	pointer-events: none;
}
#name-text-1{
	top: 34px;
	color: #dd9454;
	left: -2px;
	
}
#name-text-2{
	top: 30px;
	color: #221122;
}
#tool-Title{
	position: absolute;
	width: 256px;
	height: 86px;
	font-size: 36px;
	text-align:center;
	top: -16px;
}
#tool-Title div{
	position: absolute;
	width: 256px;
	height: 68px;
	font-family: 阿里巴巴普惠体;
	font-weight: 500;
	pointer-events: none;
	font-size: 36px;
}
#tool-Title-1{
	top: 34px;
	color: #dd9454;
	left: -2px;
}
#tool-Title-2{
	top: 30px;
	color: #221122;
}
#tool-text{
	position: absolute;
	width: 256px;
	height: 180px;
	font-size: 22px;
	text-align:center;
	top: 30px;
}
#tool-text div{
	position: absolute;
	width: 256px;
	height: 68px;
	font-family: 阿里巴巴普惠体;
	font-weight: 500;
	pointer-events: none;
	font-size: 22px;
}
#tool-text-1{
	top: 34px;
	color: #dd9454;
	left: -2px;
}
#tool-text-2{
	top: 30px;
	color: #221122;
}
#describe{
	position: absolute;
	bottom: 0;
	width: 324px;
	height: 180px;
	font-size: 22px;
	text-align:center;
	background:url(imges/zoom-b.png) no-repeat center 0px;
	/*display: none;*/
}
#describe div{
	position: absolute;
	width: 266px;
	height: 68px;
	font-family: 阿里巴巴普惠体;
	font-weight: 500;
	pointer-events: none;
	margin-left: 20px;
}
#describe-1{
	top: 37px;
	color: #dd9454;
	left: -2px;
}
#describe-2{
	top: 34px;
	color: #221122;
}
#zoom{
	position: absolute;
	bottom: 0;
	width: 324px;
	background:url(imges/zoom-b.png) no-repeat center 0px;
	display: none;
}
#zoom img{
	position: relative;
	left: 20px;
}
#zoom img:first-of-type{
	position: absolute;
	bottom: 54px;
	z-index: 35;
	left: 20px;
}
#season{
	background:url(imges/zoom-b.png) no-repeat center 0px;
	position: absolute;
	bottom: 186px;
	width: 324px;
	height: 86px;
	display: none;
	
}
#season div{
	width: 292px;
	position: absolute;
	bottom: 0px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
#menu-b{
	width: 324px;
	background:url(imges/zoom-b.png) no-repeat center 0px;
	position: absolute;
	bottom: -12px;
	height: 28px;
}
#menu-t{
	width: 324px;
	height: 28px;
	background:url(imges/zoom-b.png) no-repeat center 0px;
	position: absolute;
	top: -12px;
}
#Farm-Top{
	display: none;
}
.Farm-T{
	background:url(imges/t.png);
}
#Btn{
	width: 64px;
	height: 500px;
	position: absolute;
	top: 0px;
	right: 10px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
#Btn img{
	margin-top: 20px;
}

#preview{
	top: 40%;
	left: 40%;
	/*margin: 0 auto;*/
    -webkit-justify-content: space-between;
    justify-content: center;
	width: 192px;
	height: 192px;
	position: absolute;
	z-index: 100;
	display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: none;
}
#preview1{
	position: absolute;
	top: -400%;
}
#IsA{
	width: 96px;
	height: 64px;
	display: block;
	background:url(imges/download.png);
}
#save{
	display: none;
}
#cancel{
	display: none;
}
#Farm-name{
	height: 72px;
	position: absolute;
	width: 100%;
	bottom: 0;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    /*display: none;*/
}
#name-l img{
	width: 64px;
	height: 72px;
}
#name{
	height: 72px;
	background: url(imges/name.png);
	text-align: center;
}
#name-r img{
	width: 64px;
	height: 72px;
}


#name div{
	position: absolute;
	font-family: 阿里巴巴普惠体;
	pointer-events: none;
	font-size: 46px;
}
#name-1{
	top: 8px;
	color: #dd9454;
}
#name-2{
	top: 4px;
	color: #221122;
}

#name-box{
	position: absolute;
	z-index: 99;
	top: 30%;
	left: 50%;
	margin-left: -160px;
	display: none;
}


#name-tenx{
	width: 320px;
	height: 128px;
	border:none;outline:medium;
	background: transparent;
	font-size: 32px;
	number:7;
	text-align:center;
	color: #221122;
	text-shadow:-2px 4px #dd9454;
	background: url(imges/text-name.png);
	padding: 0;
	
}
input:-moz-placeholder,   
textarea:-moz-placeholder {   
    color: #221122;  
    opacity: 0.5;
}   
  
input:-ms-input-placeholder,   
textarea:-ms-input-placeholder {   
	color: #221122;  
	opacity: 0.5;
}   
  
input::-webkit-input-placeholder,   
textarea::-webkit-input-placeholder {   
	color: #221122;  
	opacity: 0.5;
} 
#name-btn{
	width: 320px;
	height: 64px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#name-btn div{
	width: 104px;
	height: 64px;
	background: url(imges/btn-name.png);
	/*text-shadow:-2px 4px #dd9454;*/
	font-size: 32px;
	text-align:center;
	line-height: 60px;
	color: #221122;
	font-weight: 500;
	/*text-shadow:-2px 2px #853605;*/
}
