body{
	background: #050304;
	overflow-x: hidden;
    overflow-y: hidden;
	font-size: 64px;
	margin: 0;
}
img{
	display: block;
}
#body-1{
	font-size: 16px;
}
#body-2{
	font-size: 32px;
}
#body-3{
	font-size: 48px;
}
#body-4{
	font-size: 64px;
}
#Farm{
	width: 80em;
	height: 65em;
	background:url(imges/summer.png);
	background-size:80em;
	float: left;
	/*margin-top: 16px;
	margin-left: 16px;*/
}
.Farm{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 80em;
	height: 65em;
}
.Farm-Div{
	width: 1em;
	height: 1em;
}
.Farm-Div img{
	pointer-events: none;
	position: relative;
	z-index: 10;
	width: 1em;
	height: 1em;
	
}
#Farm-Middle{
	position: absolute;
	z-index: 3;
}
#Farm-bottom{
	position: absolute;
	z-index: 2;
	width: 80em;
	height: 65em;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.greenhouse-1{
	width: 7em !important;
	height: 10em !important;
	top: -9em;
}
.greenhouse-2{
	width: 7em !important;
	height: 8em !important;
	top: -7em;
}
.House{
	width: 9em !important;
	height: 10em !important;
	top: -8em;
}
.House-L{
	width: 10em !important;
	height: 10em !important;
	top: -8em;
	left: -1em;
}
.mailbox{
	width: 1em !important;
	height: 2em !important;
	top: -1em;
}
#Btn{
	position: absolute;
	z-index: 20;
	right: 10px;
	bottom: 0em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#Btn div{
	width: 1em;
	height: 2em;
}
#Frame{
	background: #000;
	position: absolute;
	z-index: 1;
}
#Frame-1{
	width: 24px;
	height: 16px;
	background:url(imges/frame-1.png);
	float: left;
}
#Frame-2{
	width: 16px;
	height: 16px;
	background:url(imges/frame-2.png);
	float: left;
}
#Frame-3{
	width: 16px;
	height: 16px;
	background:url(imges/frame-3.png);
	float: left;
}
#Frame-4{
	width: 16px;
	height: 16px;
	background:url(imges/frame-4.png);
	float: left;
}
#Frame-5{
	width: 16px;
	height: 16px;
	background:url(imges/frame-5.png);
	float: left;
}
#Frame-6{
	width: 20px;
	height: 16px;
	background:url(imges/frame-6.png);
	float: left;
}
#Frame-7{
	width: 16px;
	height: 16px;
	background:url(imges/frame-7.png);
	float: left;
}
#Frame-8{
	width: 20px;
	height: 16px;
	background:url(imges/frame-8.png);
	float: left;
}
#menu{
	position: absolute;
	z-index: 30;
	width: 5em;
	height: 100%;
	background:url(imges/menu-bj.png);
	background: #000;
	left: 0px;
}
#arrow{
	
	position: absolute;
	left: 5em;
	top: 46%;
}
#arrow img{
	width: 1em;
	height: 1em;
}




